@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.vivu3mien-search {
  font-family: "Pacifico", cursive;
  text-transform: none;
}

.vivu3mien-search:hover {
  animation: rainbowText 1s infinite;
}
