@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.vivu3mien {
  font-family: "Pacifico", cursive; /* Thay 'Pacifico' bằng tên phông chữ bạn chọn */
  text-transform: none;
}

.vivu3mien:hover {
  animation: rainbowText 1s infinite;
}
