.container {
  display: flex;
  align-items: flex-start;
}

.sticky-div {
  width: 50%;
  position: sticky;
  top: 0;
  padding: 20px;
}

.scrollable-div {
  width: 50%;
  padding: 20px;
  overflow-y: auto;
}
